@import '@styles/utils/functions';

// common
.flex, .row, .rows, .column, .columns {
  display: flex;
}

// direction
.column, .rows {
  flex-direction: column;
}

.row, .columns {
  flex-direction: row;
}

// vertical & horizontal alignment
$propertyValuesPair: (
  justify-content: (flex-start, flex-end, center, space-around, space-between),
  align-content: (flex-start, flex-end, center, space-around, space-between, stretch),
  align-items: (flex-start, flex-end, center, stretch, baseline),
  align-self: (flex-start, flex-end, center, stretch, baseline, auto)
);

@each $property, $values in $propertyValuesPair {
  $propertyResult: joinList(initialsFromStringList(split($property, '-')), '');

  @each $value in $values {
    $valueResult: null;

    @if (str-index($value, '-') != null) {
      $valueResult: joinList(initialsFromStringList(split($value, '-')), '');
    } @else {
      $valueResult: initialFromString($value);
    }

    .#{$propertyResult}-#{$valueResult} {
      #{$property}: #{$value};
    }
  }
}
