$fontSizeBase: 16px;

$fontWeight: (
  'light': 200,
  'regular': 400,
  'bold': 600,
  'black': 900
);

$headingSizes: (
  'h1': 34.18px,
  'h2': 27.34px,
  'h3': 21.88px,
  'h4': 17.5px,
  'h5': 14px,
  'h6': 13px
);

$colors: (
  'main': hsl(200, 30%, 45%),
  'bg': hsl(0, 0%, 90%),
  'light': hsl(0, 0%, 75%),
  'dark': hsl(0, 0%, 15%)
);

$dimensions: (
  'base-spacing': 2rem,
  'nav-width': 20rem,
  'nav-header-height': 8rem
);
