@import '@styles/utils/variables';
@import '@styles/utils/mixins';

.part-nav-items {
  height: auto;
  background-color: map-get($colors, 'dark');

  ul {
    padding: #{map-get($dimensions, 'base-spacing') / 2} 0;

    li a {
      padding: #{map-get($dimensions, 'base-spacing') / 2} map-get($dimensions, 'base-spacing');
      @include color(map-get($colors, 'light'));

      .element-icon {
        margin-right: map-get($dimensions, 'base-spacing');
      }

      .element-icon svg, span {
        @include transition(normal, (color, fill));
      }

      &.active span {
        font-weight: map-get($fontWeight, 'bold');
      }

      &.active, &:hover {
        @include color(white);
      }
    }
  }
}
