@import '@styles/utils/variables';
@import '@styles/utils/mixins';

.container-page {
  @include size(100%);
  padding: map-get($dimensions, 'base-spacing') * 2 map-get($dimensions, 'base-spacing') * 8;
  box-sizing: border-box;
  color: map-get($colors, 'dark');
  background-color: map-get($colors, 'bg');

  & > *:not(:nth-last-child(1)) {
    margin-bottom: map-get($dimensions, 'base-spacing');
  }
}
